<form action="/register" method="POST">
	
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<button>Submit</button>
</form>

<p>	<li><a href="/register">Sign Up!</a></li> </p>
<p>	<li><a href="/login">Login</a></li> </p>
<p>	<li><a href="/logout">LogOut</a></li> </p>